.button {
  border-radius: 5px;
  display: flex;
  padding: 11px 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Bricolage Grotesque;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}

.primary {
  background: var(--purple);
  border: none;
  color: var(--black);
}

.primary:hover {
  background: var(--white);
  color: var(--purple);
}

.secondary {
  background: transparent;
  border: 1px solid var(--purple);
  color: var(--white);
}

.secondary:active {
  border: 1px solid var(--secondaryActive);
  color: var(--secondaryActive);
}

.tertiary {
  background-color: var(--skyBlue2);
  color: var(--buttonTextBlue);
  border: 0.5px solid var(--skyBlue3);
}

.tertiary:hover {
  background: var(--tertiatyButtonHover);
}

.tertiary:active {
  background: var(--tertiaryButtonActive);
}

.invalid {
  border: 1px solid var(--red);
  color: var(--red);
  background: none;
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--buttonIdonBg);
  border-radius: 50%;
  flex-shrink: 0;
}

.button:disabled {
  background-color: var(--grey);
  color: var(--white);
}

.button:disabled > span {
  background-color: var(--grey);
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .button {
    font-size: 14px;
    line-height: 23px;
    padding: 16px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 14px;
    line-height: 23px;
    padding: 16px;
  }
}
