.container {
  font-family: Bricolage Grotesque;
  margin-bottom: 3rem;
}

.header {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > span {
  border: 1px solid var(--purple);
  padding: 0.25rem 0.75rem;
  border-radius: calc(infinity * 1px);
  display: inline-block;
}

.header > input {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-family: "Bricolage Grotesque";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 10px;
  min-width: 250px;
  border: 2px solid var(--purple);
  outline: none;
}

.tableHeaderContainer {
  display: flex;
  border-bottom: 1px solid var(--purple);
  transition: all 0.2s ease-in-out;
}

.tableBodyContainer {
  display: flex;
}

.tableBodyContainer:not(.tableBodyContainer:last-child) {
  border-bottom: 1px solid var(--purple);
}

.tableHeader {
  flex: 1;
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
  padding: 1rem;
  border-right: 1px solid var(--purple);
}

.tableBody {
  flex: 1;
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  padding: 1rem;
  border-right: 1px solid var(--purple);
}

.button,
.tableBody > span {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: calc(infinity * 1px);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.button {
  border: 1px solid var(--blue);
}

.button:hover:not(.options) {
  background-color: var(--blue);
}

.options {
  position: absolute;
  min-height: 50px;
  min-width: 200px;
  top: 150%;
  border-radius: 10px;
  padding: 0.5rem;
  border: 2px solid var(--purple);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--white);
  z-index: 10;
}

.options > span {
  display: block;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 14px;
}

.options > span:not(.options > span:last-child) {
  border-bottom: 1px solid var(--purple);
}

.paragraph {
  text-align: center;
  font-size: 16px;
  color: var(--white);
  margin-top: 2rem;
  color: var(--grey4);
}

.more {
  font-size: 14px;
  color: var(--white);
  font-weight: 500;
  background-color: var(--purple);
  display: inline-block;
  width: 100%;
  padding: 1rem 0.5rem;
  text-align: center;
}

.late {
  background-color: #f8494977;
}

.midLate {
  background-color: #edd01480;
}

.early {
  background-color: var(--purple);
}

@media screen and (max-width: 767px) {
  .tableHeaderContainer {
    display: flex;
    border-bottom: 1px solid var(--purple);
    transition: all 0.2s ease-in-out;
  }

  .tableBodyContainer {
    display: flex;
  }

  .tableBodyContainer:not(.tableBodyContainer:last-child) {
    border-bottom: 1px solid var(--purple);
  }

  .tableHeader,
  .tableBody {
    flex: 1;
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  .tableHeader:not(
      .tableHeader:nth-child(1),
      .tableHeader:nth-child(2),
      .tableHeader:last-child
    ),
  .tableBody:not(
      .tableBody:nth-child(1),
      .tableBody:nth-child(2),
      .tableBody:last-child
    ) {
    display: none;
    padding: 0rem;
  }

  .options {
    right: 0;
  }
}
