.container {
  min-height: 100vh;
  padding-top: 114px;
  background-image: url("../../assets/Images/heroSectionBg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.textSection {
  text-align: center;
  position: relative;
  z-index: 2;
}

.textSection > h1:nth-child(1) {
  font-weight: 400;
  font-size: 71px;
  line-height: 77px;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 1rem;
}

.textSection > p:nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--white);
  width: 676px;
  margin-inline: auto;
}

.textSection > ul {
  display: flex;
  gap: 42px;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.textSection > ul > li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.textSection > button {
  margin-inline: auto;
  margin-top: 2rem;
}

.container > img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  z-index: 1;
  width: 100%;
  object-fit: cover;
  min-height: 200px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 1rem;
  }

  .textSection {
    padding-top: 94px;
  }

  .textSection > h1:nth-child(1) {
    font-size: 55px;
    line-height: 120%;
  }

  .textSection > p:nth-child(2) {
    font-size: 16px;
    line-height: 140%;
    width: 90%;
  }

  .textSection > ul {
    gap: 16px;
    flex-direction: column;
    margin-top: 2rem;
  }

  .textSection > ul > li {
    font-size: 14px;
    line-height: 150%;
  }

  .textSection > button {
    margin-inline: auto;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 1rem;
  }

  .textSection {
    padding-top: 94px;
  }

  .textSection > h1:nth-child(1) {
    font-size: 55px;
    line-height: 120%;
  }

  .textSection > p:nth-child(2) {
    font-size: 16px;
    line-height: 140%;
    width: 90%;
  }

  .textSection > ul {
    gap: 16px;
    flex-direction: column;
    margin-top: 2rem;
  }

  .textSection > ul > li {
    font-size: 14px;
    line-height: 150%;
  }

  .textSection > button {
    margin-inline: auto;
    margin-top: 2rem;
  }
}
